body {
  margin: auto;
  text-align: center;
}

.container {
  margin-bottom: 100px;
}

.first-letter {
  font-size: 1.5em;
}

#stop-in {
  font-style: italic;
  font-weight: bold;
}

.card {
  /* display: none; */
  margin-top: 30px;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}