body {
  margin: auto;
  text-align: center;
  font-family: 'Roboto', sans-serif;
  background-color: darkred;
  color: white;
}

.container {
  margin-bottom: 100px;
}

.jumbotron {
  font-family: 'Pacifico', cursive;
  margin-top: 20px;
  background-color: darkolivegreen;
  color: white;
}

h1 {
  font-family: 'Abril Fatface', cursive;
}

.first-letter {
  font-size: 1.5em;
}

#stop-in {
  font-style: italic;
  font-weight: bold;
}

.card {
  display: none;
  margin-top: 30px;
  min-height: 600px;
  color: black;
}

.form-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

#size-alert {
  display: none;
  margin-top: 1em;
}

#ordered-items {
  text-align: left;
}

#total-print {
  display: none;
  text-align: right;
}

#submit-order {
  display: none;
}

#submitted {
  display: none;
}

#hazy {
  color: gray;
}